extends layout 
block content
 div.container
  h1 Checkpoint Express (Routing)! 
  if(isopen === true)
   p In this checkpoint, we are going to create 
    | a web application that contains three pages (Home page, Our Services.Contact us.)
    | Each page should contain a nav bar link 
    | The web application is only available during working hours (Monday to Friday,  from 9 to 17).
   br
   hr
  
   h3 Instructions
   hr
   ol 
    li Use Express to create the server and handle routes.
    li Create a custom middleware to verify the time of the request.
    li The pages should be styled with CSS.
    li Optionally, you can use any template engine you want.
   hr
   br
  
   iframe(width="853" height="480" src="https://www.youtube.com/embed/kt3cEjjkCZA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
  else 
    h1 Sorry We'are closed!
    p The web application is only available during working hours (Monday to Friday,  from 9 to 17).
    img(src="https://www.pngkey.com/png/full/14-142291_this-free-icons-png-design-of-sorry-were.png" width="500px" alt="get in touch")
