doctype html 
html 
  head 
   style 
    include style.css
   link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous")
   link(rel="preconnect" href="https://fonts.gstatic.com")
   link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet")
   title Checkpoint express using pug 

  body
   nav.navbar-expand-lg.navbar-light.bg-light
    div.container-fluid
     div.collapse.navbar-collapse#navbarNav
      ul.navbar-nav
        li.nav-item
         a(class="nav-link", href="/") Home
        li.nav-item
         a(class="nav-link" href="ourServices") Our Services
        li.nav-item
         a(class="nav-link" href="contactUs") Contact Us
   
   block content 
    br
   hr
   footer
    nav.navbar.navbar-light.bg-light
     div.footer
      span.navbar-text Copyright &copy; 2021